@charset "UTF-8";
* {
    font-family:Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}
html, body {
    background-color: lightgray;
}
header {
    background-color: rgb(148,148,148);
}
header h1 {
    padding: 10px;
    text-align: center;
}
header > menu {
    padding: 5px;
}
span#burguer {
    background-color: rgb(53, 52, 52);
    color: black;
    display: block;
    /*p/ permitir a centralização do 'hamburguinho', através da linha 'text-align*/
    text-align: center;
    padding: 10px;
    cursor: pointer;
    /*p/ cursor virar uma mãozinha*/
}
span#burguer:hover {
    background-color: white;
    /*p/ quando clicar no 'hamburguinho' a caixa fique na cor branca*/
}
menu {
    display: none;
    /*era 'display: block'; colocado 'none' para desaparecer as opções de 1 a 5, que estavam aparecendo na página*/
    /*por enquando não estão aparecendo as opções, quando clicamos no menu; com JavaScript, incluido no 'span' o 'onclick'*/
}
menu > ul {
    list-style-type: none;
}
menu > ul > li > a {
    display: block;
    /*p/ colocar o menu na vertical*/
    padding: 10px;
    text-decoration: none;
    /*p/ retirar o sublinhado*/
    text-align: center;
    /*p/ centralizar o menu*/
    background-color: rgb(87, 87, 87);
    color: white;
    border-top: 2px solid gray;
}
menu > ul > li > a:hover {
    background-color: gray;    
}
main {
    width: 90vw;
    background-color: white;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
}
article > h2 {
    padding-bottom: 20px;
}
article > p {
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 20px;
}